html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin-left: 0;
  padding: 0;
}

img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
}
.text-down-line link {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
/* заголовок -----------------------------*/

.menu-list-item {
  text-transform: uppercase;
}
.nav-logo {
  display: flex;
  align-items: center;

  margin-left: 156px;

  /* ‹mod 3 */

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list {
  list-style: none;
}

.header-menu {
  justify-content: space-between;
  margin-left: 347px;
  margin-right: auto;
  gap: 40px;
}

.menu-contacts {
  display: flex;
  margin-right: 156px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail-link {
  color: #434455;
}

.menu-list-effect:hover {
  color: #404bbf;
}

.menu-list-effect:focus {
  color: #404bbf;
}
.logo-black {
  display: flex;
  color: #2e2f42;
}

.list {
  list-style: none;
}
/* section 1  hero--------------------------*/

.section-hero {
  background-color: #2e2f42;
}

.section-hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.section-hero-btn {
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
 
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.section-hero-btn:hover,
focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* section 2 info -----------------------------*/

.sect-info-title {
  line-height: 1.07;
}

.section-info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.section-info-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}

/* section 3  product*/

.section-prod-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

/* section 4 team -----------------------------*/
.sect-team {
  background-color: #f4f4fd;
}

.section-team-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.section-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;
}

.section-team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}

/* footer -----------------------------*/

.footer {
  background-color: #2e2f42;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;

  letter-spacing: 0.02em;

  color: #e7e9fc;
}

.logo-white {
  color: #f4f4fd;
}

/* portfolio----------------------------- */

/* кнопки  */

.list-item {
}

.btn-font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.section-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.btn-font:hover,
:focus {
  background-color: #404bbf;
  color: #f4f4fd;
}

/* modul 3----------------------------- */

/* <-- заголовок -- >  */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.container-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4d5ae545;
}

.header-menu {
  display: flex;
  margin-left: 76px;
  gap: 10px;
  justify-content: space-between;
}

.header-item:not(:last-child) {
  margin-right: auto;
}
.header-main {
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-list-main {
  display: flex;
}

/**------------- SECTION 1 HERO ---------------*/
.container-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1440;
}

.section {
  text-align: center;
  max-width: 1440;
}
